<div class="mc">
  <form [formGroup]="user">
    <mat-form-field class="fieldfix" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Enter Username">
      <mat-icon matSuffix>directions_boat</mat-icon>
      <mat-error *ngIf="user.get('username').touched && user.get('username').invalid">
        <mat-error *ngIf="user.get('username').errors.required">Please enter the username.</mat-error>
        <mat-error *ngIf="user.get('username').errors.shouldBeUnique">Username already exist</mat-error>
      </mat-error>
      <!-- <p>{{user.get('username').errors.required}}</p> -->
      <p>{{user.get('username')}}</p>
    </mat-form-field>
  </form>
</div>
